body{
  background-color: rgb(27, 87, 156);
  color: white;
}

h1{
  font-weight: bolder;
}

.wrapper{
  height: 100vh;
}

.custom-box{
  background-color: rgb(18, 56, 100);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}