body{
  background-color: rgb(24, 192, 66);
}

h1, h3{
  font-weight: bolder;
}

.wrapper{
  height: 100vh;
}

.custom-box{
  background-color: rgb(245, 224, 35);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  height: 55%;
}

.content{
  width: 100%;
}

.content aside{
  width: 20%;
}